@using Vidly.Models
@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@*@foreach(var customer in (List<Customer>)ViewBag.Customers)
    {
        <h2>@customer.Name</h2>
    }*@
@if (Model.Count == 0)
{
    <p>There is no customer</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Discount Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    @*@if (customer.MembershipTypeId == 1)
                    {
                        <td>$0</td>
                    }
                    else if (customer.MembershipTypeId == 2)
                    {
                        <td>$10</td>
                    }
                    else if (customer.MembershipTypeId == 3)
                    {
                        <td>$15</td>
                    }
                    else if (customer.MembershipTypeId == 4)
                    {
                        <td>$20</td>
                    }*@
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
